*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ZONA HEADER PULSANTE FISSO TOP RIGHT */
.header-background{
    height: 80px;
}
.items-top-right{
    display: flex;
    justify-content: flex-end;    
}
.bt{
    background-color: #4a4a4a;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 5px;
}
/* BLOCCHI IMMAGINI FLEXATI */
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}
.main-container{
    width: 90%;
    margin: 0 auto;
}

.img-block1{
    height: calc(100vh - 160px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.img{
    width: 14%;
    height: 17%;
    background-image: url(../img/download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.img-name{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 14px;
}

/* BARRA DI NAVIGAZIONE BOTTOM */
.nav-bar-bottom{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #252525;
  }
  /* FOOTER */

footer{
    height: 80px;
    background-color: #222222;
}

footer li p{
    padding-left: 20px;
}

footer li i{
    margin-bottom: 5px;
}

.footer-flex-container{
    display: flex;
}

.sub-flex-container{
    height: 80px;
}

.start{
    width: 11vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center{
    width: 83vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end{
    width: 6vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.action-button{
    text-align: center;
    margin-left: 20px;
}

.green{
    color: green;
}

.end-button{
    background-color: #4a4a4a;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

ul{
    list-style-type: none;
}